<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='alumnOf',extra=${asignatura.nombre})"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>			
			<div class="col-8">
				<h4 class="text-center mt-3" th:text="|#{alumnOf}: ${asignatura.nombre}|"></h4>
				<table class="table table-stripped table-hover mt-5">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>NIF</th>
						<th th:text="#{name}"></th>
						<th th:text="#{firstName}"></th>
						<th th:text="#{secondName}"></th>
						<th th:text="#{dateBirthday}"></th>
						<th th:text="#{city}"></th>
						<th th:text="#{sex}"></th>
						<th th:text="#{score}"></th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${asignatura.getAlumnosAsignatura()}">
					 	<td th:text="${a.alumno.id}"></td>
					 	<td th:text="${a.alumno.nif}"></td>
					 	<td th:text="${a.alumno.nombre}"></td>
					 	<td th:text="${a.alumno.apellido1}"></td>
					 	<td th:text="${a.alumno.apellido2}"></td>
					 	<td th:text="${a.alumno.fechaNacimiento}"></td>
					 	<td th:text="${a.alumno.ciudad}"></td>
					 	<td th:text="${a.alumno.sexo}"></td>
					 	<td th:text="${a.nota}"></td>					 	
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="fragments/parts::footer(info='alumnOf',extra=${asignatura.nombre})"></footer>
		</div>
	</div>
</body>
</html>