<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='list.department',extra='')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="row mt-3 justify-content-end">
				<a class="text-center col-2 btn btn-primary" th:href="@{/departments/add}" th:text="#{menu.adddpto}"></a>
			</div>
			<h1 class="text-center mt-3" th:text="#{list.department}"></h1>
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th th:text="#{name}"></th>
						<th></th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="d : ${departamentos}">
					 	<td th:text="${d.getId()}"></td>
					 	<td th:text="${d.getNombre()}"></td>
					 	<td><a th:href="@{'/departments/edit?dpto='+${d.getId()}}"><i class="bi bi-pen-fill"></i></a></td>
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="fragments/parts::footer(info='list.department',extra='')"></footer>
		</div>
	</div>
</body>
</html>