<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='menu.editProfesor',extra=|${profesor.nombre} ${profesor.apellido1} ${profesor.apellido2}|)"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-6">
				<form th:action="@{/profesores/edit}" method="post" th:object="${profesor}">
					<label for="id" class="form-label mt-3">Id</label>
					<input type="text" class="form-control" id="id" name="id"
						th:field="*{id}" readonly>
					<label for="nif" class="form-label mt-3">NIF</label>
					<input type="text" class="form-control" id="nif" name="nif"
						th:field="*{nif}">
					<label for="nombre" class="form-label mt-3"th:text="#{name}"></label>
					<input type="text" class="form-control" id="nombre" name="nombre"
						th:field="*{nombre}" required>	
					<label for="apellido1" class="form-label mt-3"th:text="#{firstName}"></label>
					<input type="text" class="form-control" id="apellido1" name="apellido1"
						th:field="*{apellido1}" required>
					<label for="apellido2" class="form-label mt-3"th:text="#{secondName}"></label>
					<input type="text" class="form-control" id="apellido2" name="apellido2"
						th:field="*{apellido2}" >		
					<label for="ciudad" class="form-label mt-3"th:text="#{city}"></label>
					<input type="text" class="form-control" id="ciudad" name="ciudad"
						th:field="*{ciudad}" required>		
					<label for="direccion" class="form-label mt-3"th:text="#{direction}"></label>
					<input type="text" class="form-control" id="direccion" name="direccion"
						th:field="*{direccion}" required>
					<label for="telefono" class="form-label mt-3"th:text="#{phoneNumber}"></label>
					<input type="text" class="form-control" id="telefono" name="telefono"
						th:field="*{telefono}" >	
					<label for="fecha_nacimiento" class="form-label mt-3"th:text="#{dateBirthday}"></label>
					<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"
						th:field="*{fechaNacimiento}" required>	
					<label for="sexo" class="form-label mt-3"th:text="#{sex}"></label>
					<select class="form-select mt-3" th:field="*{sexo}" required>
						<option value="H">Hombre</option>
						<option value="M">Mujer</option>
					</select>
					<label for="departamento"th:text="#{department}"></label>
					<select name="departamento" th:if="*{departamento} != null" class="form-select mt-3" >
	                            <option
	                            value=""
	                            th:text="|Seleccione un departamento|"></option>
	                            <option th:each="d : ${departamentos}" 
	                            th:value="${d.id}" 
	                            th:text="${d.nombre}"
	                            th:selected="(${d.id} == *{departamento.id})"></option>
					</select>
					<select th:field="*{departamento}" th:if="*{departamento} == null"  class="form-select mt-3">
	                            <option
	                            value=""
	                            th:text="|Seleccione un departamento|"></option>
	                            <option th:each="d : ${departamentos}" 
	                            th:value="${d.id}" 
	                            th:text="${d.nombre}"></option>
					</select>
					<h6 class="text-danger" th:if="${error!=null}" th:text="${'errorProfesor'}"></h6>	
					<button type="submit" class="btn btn-primary w-100 mt-3" th:text="#{update}" ></button>
				</form>
			</div>
			<footer th:replace="fragments/parts::footer(info='menu.editProfesor',extra=|${profesor.nombre} ${profesor.apellido1} ${profesor.apellido2}|)"></footer>
		</div>
	</div>
</body>
</html>